@import "./colors.css";

#about {
  text-align: center;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

#about h2 {
  padding-bottom: 50px;
}

#about h3 {
  color: var(--white-2);
}

#status {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: var(--black-1);
  border: 1px var(--white-2) solid;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

#status h3 {
  color: var(--white-1);
}
