@import "./colors.css";

#about {
  text-align: center;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

#about h2 {
  padding-bottom: 50px;
}

#status {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: var(--black-1);
  border: 1px var(--white-2) solid;
}
