@import "./colors.css";

footer {
  background-color: var(--black-1);
  height: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

footer ul li {
  float: left;
  padding: 15px;
}
