@import "./navigation.css";
@import "./about-section.css";
@import "./projects-section.css";
@import "./footer.css";
@import "./colors.css";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  font-family: "JetBrains Mono", monospace;
  color: var(--white-1);
}

body {
  background-color: var(--black-2);
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}
