@import "./colors.css";

#projects {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.card {
  background-color: var(--black-1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card * {
  padding: 0;
  margin: 0;
}

.card img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.card h4 {
  color: var(--white-2);
}

.tags-container {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.tag {
  padding: 0 3px;
  border: 1.5px white solid;
  background-color: gray;
  border-radius: 2px;
  color: white;
}

.tag-nix {
  color: #7e7eff;
  border-color: #7e7eff;
  background-color: #414185;
}

.tag-lua {
  color: #2e2ee6;
  border-color: #2e2ee6;
  background-color: #18187a;
}

.tag-luau {
  color: #00a2ff;
  border-color: #00a2ff;
  background-color: #004e7d;
}

.tag-python {
  color: #ffd43b;
  border-color: #ffd43b;
  background-color: #917821;
}

.tag-api {
  color: #2acca8;
  border-color: #2acca8;
  background-color: #197863;
}

.links-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.links-container div {
  font-style: italic;
}
