@import "./colors.css";

#projects {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  padding: 20px;
  border-radius: 12px;
  background-color: var(--black-1);
}

.card img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}
