@import "./colors.css";

#projects {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.card {
  background-color: var(--black-1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card * {
  padding: 0;
  margin: 0;
}

.card img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.tags-container {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.tag {
  padding: 3px;
  border: 1.5px white solid;
  background-color: gray;
  border-radius: 2px;
}

.tag-nix {
  border-color: mediumpurple;
  background-color: rebeccapurple;
}

.tag-lua {
  border-color: deepskyblue;
  background-color: dodgerblue;
}

.links-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
